ul {
    padding: 0px;
    margin: 0;
}

li {
    text-align: center;
    list-style-type: none;
    color: blue;
    background-color: #D3D3D3;
    border-radius: 5px;
    cursor: pointer;
    margin: 2.5px;

}

li:last-child {
    background-color: green;
    font-style: italic;
}

li:hover {
    background-color: gray;
}