body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: black;
}

dl {
    margin: 20px;
    padding: 10px;
    background-color: azure;
    border-left: 5px solid blue;
}

dt {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 5px;
}

dd {
    font-style: italic;
    color: darkcyan;
}

ul.listaNaoOrdenada {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

ul.listaNaoOrdenada li {
    margin-bottom: 10px;
    padding-left: 10px;
}

ol>ul {
    color: blue;
    background-color: yellowgreen;
}